{% extends 'base.html' %}

{% block content %}
{% include 'mobile.html' %}
    <!-- Main Content -->
    <main class="space-x-4 px-4 pt-20 flex justify-between">
      <!-- Left Sidebar (Menu Links) -->
      <div class="w-[15%] bg-white shadow-lg p-4 hidden lg:block">
        <h2 class="font-bold text-lg mb-4">Menu</h2>
        <ul>
          <li class="mb-2"><a href="{% url 'feeds' %}" class="text-gray-700 hover:text-blue-500">Home</a></li>
          <li class="mb-2"><a href="{% url 'profile' user.id %}" class="text-gray-700 hover:text-blue-500">Profile</a></li>
          <li class="mb-2"><a href="{% url 'chat_room' recipient_username=user.username %}" class="text-gray-700 hover:text-blue-500">Messages</a></li>
          <li class="mb-2"><a href="{% url 'delete_acc' user.id %}" class="text-gray-700 hover:text-blue-500">Settings</a></li>
        </ul>
      </div>
  
      <!-- Feed Section -->
      <section class="flex-1 mx-4 scrollable-feed">
        <!-- New Post Box -->
        <div class="bg-white shadow-lg rounded-lg p-4 mb-4">
         <form action="{% url 'create-post' %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <textarea placeholder="What's on your mind?" class="w-full p-2 border rounded-lg mb-2" name="content"></textarea>
          <input type="file" accept="image/*" class="mb-2" name="post_img">
          <button type="submit" class="px-4 ml-96 py-2 bg-blue-500 text-white rounded-lg">Post</button>
         </form>
        </div>
  
        <!-- Posts -->
        <div class="space-y-4">
          <!-- Post 1 -->
         
        {% for post in posts %}
         <div class="bg-white shadow-lg rounded-lg p-4">
          <a href="{% url 'profile' post.author.id %}">
            <div class="flex items-center mb-4">
              
              {% if post.author.profile.profile_pic %}
              <img src="{{ post.author.profile.profile_pic.url }}" alt="User" class="rounded-full w-12 h-12">  
              {% endif %}
                
              <div class="ml-2">
                <p class="font-bold">{{ post.author.username }}</p>
                <p class="text-sm text-gray-500">{{ post.created_at | timesince }} ago</p>
              </div>
            </div>
          </a>
          <p class="mb-4">{{ post.content }}</p>
          
          {% if post.post_img %}
          <img src="{{ post.post_img.url }}" alt="Post Image" class="w-full rounded-lg mb-4">
          {% endif %}
            
          <div class="flex items-center mb-4 justify-between">
            <div class="flex">
              <form action="{% url 'like_post' post.id %}" method="POST">
                {% csrf_token %}
                <button class="flex items-center text-gray-500 hover:text-blue-500">
                 
                 {% if request.user in post.likes.all %}
                 <span class="mr-2 text-red-500">👍</span> {{ post.likes.count }} Likes
                 {% else %}
                 <span class="mr-2 text-black-300">👍</span> {{ post.likes.count }} Likes
                 {% endif %}
                  
                </button>
              </form>
                <button class="ml-4 flex items-center text-gray-500 hover:text-blue-500">
                  <span class="mr-2">💬</span> {{ post.comments.count }} Comments
                </button>
            </div>
            <div class="flex ml-2"> 
            {% if request.user == post.author %}
            <a href="{% url 'edit_post' post.id %}" class="mr-2 text-gray-500">Edit</a>
            <a href="{% url 'delete_post' post.id %}" class="mr-2 text-gray-500">Delete</a>
            {% endif %}
            <a href="{% url 'post_detail' post.id %}" class="mr-2 text-gray-500">View</a>
                
            </div>
          </div>
          
          <!-- Comment Box -->
          <div class="mb-4">
            <form action="{% url 'add_comment' post.id %}" method="post">
              {% csrf_token %}
              <textarea name="comment" placeholder="Write a comment..." class="w-full p-2 border rounded-lg"></textarea>
              <button type="submit" class="mt-2 px-4 py-2 bg-blue-500 text-white rounded-lg">Comment</button>
            </form>
          </div>
          <!-- Comments -->
          <div class="space-y-2">
           {% for comment in post.comments.all %}
            <div class="flex items-center">
              {% if comment.author.profile.profile_pic %}
              <img src="{{ comment.author.profile.profile_pic.url }}" alt="User" class="rounded-full w-12 h-12">
              {% endif %}
              <div class="ml-2">
                <p class="font-bold"><a href="{% url 'profile' comment.author.id %}">{{ comment.author.username }}</a> <span class="text-sm text-gray-500">{{ comment.created_at | timesince }} ago</span></p>
                <p class="text-sm text-gray-500">{{ comment.content }}</p>
              </div>
            </div>
           {% endfor %}
          </div>
        </div>
        {% endfor %}
          
  
         
        </div>
      </section>
  
      <!-- Right Sidebar (Friends List) -->
      <div class="w-[30%] bg-white shadow-lg p-4 hidden lg:block">
        <h2 class="font-bold text-lg mb-4">Friends</h2>
        <div class="space-y-2">
          
          {% for followers in followers %}
          <div class="flex items-center p-4 rounded-sm shadow-md m-2"> 
           <a href="{% url 'profile' followers.follower.id %}" class="flex items-center text-gray-500 hover:text-blue-300">
            {% if followers.follower.profile.profile_pic %}
           <img src="{{followers.follower.profile.profile_pic.url}}" alt="Friend" class="rounded-full w-12 h-12">
           {% endif %}
            <p class="ml-2">{{followers.follower.username}}</p>
          </div>
          {% endfor %}  
           </a>
        </div>
      </div>
    </main>
   
{% endblock content %}